<h3 class='page-header'>Your new post!!</h3>

<% if @post.errors.any? %>
<% @post.errors.full_messages.each do |m|%>
<p><%=m%></p>
<%end%>
<%end%>


<%= form_with model: @post, local: true do |f|%>
<p><%=f.label :title%></p>
<p class='form-control'><%=f.text_field :title%></p>
<p><%=f.label :details%></p>
<p class='form-control'><%=f.text_area :body%></p>
<%=f.submit 'Submit', class: "btn btn-primary"%>
<%end%>
