<%- include('./partials/headers')%>
<%- include("./partials/nav")%>
  <form action="/cohorts/<%= cohort.id %>">
    <p><label for="logoURL">Logo URL</label></p>
    <p><input type='text' name='logoURL' size="50" value='<%= cohort.logoURL%>' placeholder="e.g.example.com/some.png" /></p>
    <p><label for="cohortName">Cohort Name</label></p>
    <p><input type='text' name='cohortName' value='<%= cohort.name%>' placeholder="e.g. Taco Lovers" /></p>
    <p><label for="members">Members Separated By Commas</label></p>
    <p><textarea
      name="members"
      cols="50"
      rows="5"
      placeholder="e.g.aladdin, jasmine, abu"
      value='<%= cohort.members%>'
    ></textarea></p>
    <p><input type="submit" value="Update Cohort" /></p>
  </form>
<%- include("./partials/footer")%>